# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/dist
/bin/.tmp

# Neutralinojs config files
.tmp
.tmp\window_state.config.json
# Neutralinojs related files
.storage
*.log
*.pcap


